*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
#header{
    background-color: rgb(223, 214, 197);
    height: 80px;
    text-decoration: none;
    color: black;
}

#logo{
        height: 65px; /* 70 */
        padding-top: 10px;
        margin-right: 120px;
        width: auto;
        float: right;
        margin-top: 0.5px;
        
}
#logo2{
    height: 60px; /* 70 */
    padding-top: 20px;
    margin-right: 70px;
    width: auto;
    float: right;
    margin-top: 0.5px;
}
.WL{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 16px;
    
    /*margin-top: 13px;*/
}
.WL:hover{
    text-decoration: underline;
    border: 3px solid rgb(230, 44, 90);
}
#logo3{
   /* height: 65px;  70 */
    padding-top: 25px;
    margin-right: 11px;
    width: auto;
    float: right;
    margin-top: 0.5px;
}

#Nav{
    color: black;
    margin-left: 60px;
}
#NavWhere{
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-left: 24px; 
    margin-top: 25px; /* 30 */
    color: white;
    text-decoration: none;
}

.li{
    color:white;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin-left: 17px; 
    /*margin-top: 15px; /* 30 */
}
#ulNav{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
#ButtonSign{
    float: left;
    margin-left: 115px; /*64px*/
   /* margin-top: 25px; /* 25px */
    width: 105px;
    font-size: 12px;
   /* border-radius: 4rem;*/
   background-image: -webkit-linear-gradient(top, #6ba8de, #9193e8);
   padding: 6px 13px!important; /* 8px 15px*/
   color: #fff !important;
   border-radius: 25px;
   margin-top: 23px !important;
   border: none;
}
#ButtonSign:hover{
    border: solid 5px #007bff;
}
main{
    background-image: url('NewFont.png');
    height: 490px; /* 490px*/
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 15px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 3em;
    font-weight: lighter;
    font-size: 15px; 
    margin-bottom: 30px;
    text-transform: uppercase;

}
.btn{
    margin-top: 15px;
    display: inline-block;
    padding: 5px 25px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full{
    background-color: transparent;
    color: #bf55ec;
    padding: left 15px right 15px;
    margin-right: 15px;
    border: 1px solid #bf55ec;

}
.btn-full:hover{
    background-color: #fff;
}
.btn-nav{
background-color: transparent;
color: #fff;
border: 1px solid #fff;
}
.btn-nav:hover{
    background-color: #9b59b6;
}
/*#welomeToTechCampus{
    color: white;
    text-align: center;*/

.changeColor{
    animation:  colorchangeTechCampus 2s infinite;
}
@keyframes colorchangeTechCampus {
    0% {color: cyan;}
    25% {color: red;}
    50% {color: #bf55ec;}
    75% {color: goldenrod;}
    100%{color: rgb(214, 206, 206);}
}
.changeMove{
    text-align: center;
    padding-top: 110px;
    animation:  colormoveTechCampus 2s infinite;
    }
    @keyframes colormoveTechCampus {
        0% {color: cyan;}
        25% {color: red;}
        50% {color: #bf55ec;}
        75% {color: goldenrod;}
        100%{color: rgb(214, 206, 206);}
}
#FooterGround{
    height: 150px;
    background-color:  #2d2e30;
}
#Version{
    padding-top: 35px;
    text-align: center;
    font-size: 14px;
    color: #fff
}
#Tech101des{
    text-align: center;
    background-color:  #007bff;
    background-image: url('https://techcampus.sfo2.digitaloceanspaces.com/e41dd923205435dcb9133cd7b61ee484.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto; /* 490px*/
    width: 100%;
    font-family: 'Amiri', serif;
    padding-top: 15px;
    color: white;
    

}
#DesTech1o1{
    margin: 0 auto;
    margin-bottom: 0em;
    text-align: unset;
    background-color: white;
    height: 200px;
    width: 100px;
}
#DescraptionTech1o1{
    margin: 0 auto;
    text-align: center;
    background-color: wheat;
    height: 200px;
    width: 1100px;
    border-radius: 3erm;
    text-align: center;
}
#text{
    color: #6ba8de;
}